# Object files
*.o
*.ko
*.obj
*.elf
*.class

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.java~
*.opensdf
*.suo

# Log files
*.log
*.tlog

#Symbols
*.idb
*.pdb
*.ilk

#Project files
*.sdf
*.filters
*.vcxproj